@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.login-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100vh;
  position: relative;
}

.login-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 150px;
}

.images-column {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  pointer-events: none; 
}


.image-logo {
  width: 180px;    
  height: auto;
  margin-top: 20px;
  margin-right: 50px;

  pointer-events: auto;
}

.image-large {
  margin-bottom: 70px;
  pointer-events: auto;
}


.submit-button {
    justify-content: center;
    width: 50%;
    background-color: white;
    color: black;
    font-weight: 600;
}
.submit-button:hover{
  background-color: rgba(0, 26, 66, 0.9);
  color: white
}

.card-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.error-overlay {
  position: fixed;
  inset: 0;              
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(38, 38, 38, 0.142);
  backdrop-filter: blur(3px);

  z-index: 99999;   
}

.error-card {
  background: white;
  color: black;
  width: 380px;             
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0px 10px 40px rgba(116, 116, 116, 0.038);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text-error{
    color:black;
    text-align: center;
}
.retryButton{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
