body {
  margin: 0;
  background-image: url('../public/background-1920x1080.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-attachment: fixed;

  min-height: 100vh;
}